.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}


@media only screen and (max-width: 700px) {
    .list__title {
      font-size: 20px;
    }
    .list__cards {
      display: flex;
      flex-wrap: wrap;
    }
    .list__cards > div {
      width: 50%;
    }
  }

  @media (max-width: 500px) {
    
      .list__title {
        font-size: 1.5rem;
      }
      .list__cards {
        display: flex;
        flex-wrap: wrap;
      }
      .list__cards div {
        width: calc(50% - 20px);
        margin: 10px;
      }
    
  }
  
  